<div id="app">
	<p> {{ message }} </p>
	<input class="border" type="text" v-model="message">

	<ul>
		<li v-for="item of todo"> {{item.text}} </li>
	</ul>

	<div>do: {{doItem[0].text}} </div>

	<button class="btn" @click="reverseMessage()">Reserve Messages</button>

	<p> {{message ? 'OK' : 'NO'}} </p>
	<p> {{message.split('').reverse().join('')}} </p>

	<a :href="url" target="_blank">click me</a>
</div>

<div id="app2">
	<input class="border" type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
	<ul>
		<li v-for="todo of todos">
			<span> {{ todo.text }} </span>
			<span v-on:click="removeTodo($index)">X</span>
		</li>
	</ul>

	<input class="border" type="text" v-model="a">
	<p>b: {{b}} </p>

	First Name:
	<input class="border" type="text" v-model="firstName">
	<br> Last Name:
	<input class="border" type="text" v-model="lastName">
	<br> Full Name:
	<input class="border" type="text" v-model="fullName">
	<br>
	<button class="btn" @click="setFullName()">set fullname</button>

	<div class="static" :class="classObject">classObjext</div>

	<div class="border" :style="styleObject"></div>

	<!-- <h1 v-if="flag"> I can show</h1> -->
	<h1 v-show="!flag"> I can show</h1>
	<h1 v-else> I can't show</h1>

	<template v-if="!flag">
		<h1>Title</h1>
		<p>Paragraph 1</p>
		<p>Paragraph 2</p>
	</template>

	<div v-for="(todo, index) in todos">
		{{index}} - {{todo.text}}
	</div>

	<div v-for="todo of todos">
		{{todo.text}}
	</div>

	<ul>
		<template v-for="(todo, index) in todos">
			<span> {{index}} </span> <span> {{todo.text}} </span>
		</template>
	</ul>

	<!-- throw a error when use $key when v-for as this way -->
	<!-- <ul>
		<li v-for="value in guestObj" >
			{{ $key }}: {{value}}
		</li>
	</ul> -->

	<div v-for="(key, value) in guestObj" >
		{{ key }}: {{value}}
	</div>

	<span v-for="num in 10">
		{{ num }}
	</span>
</div>

<!-- open capture mode, fire parent el first
<div id="app3" @click.capture="testPrevent"> -->

<!-- just fired when click slef, not from child
<div id="app3" @click.self="testPrevent"> -->

<div id="app3" @click="testPrevent"> 
	<button @click="greet">greet</button>
	<button @click="say('Hello')">say Hello</button>
	<button @click="say('What')">say What</button>
	<button @click="sayNativeEvent('something!', $event)">say something</button>
	<!-- prevent browers defalt action but don't stop bubbling -->
	<a href="http://baidu.com" @click.prevent="say('go to baidu')">baidu</a> 
	<!-- stop propagation but don't prevent brower default action -->
	<a href="http://baidu.com" @click.stop="say('go to baidu')">baidu</a>
	<!-- stop propagation and prevent a href target -->
	<a href="http://baidu.com" @click.stop.prevent="say('go to baidu')">baidu</a>
	<!-- keyup by modifiers. i.e. enter/tab/delete/esc/space/up/down/left/right -->
	<input type="text" @keyup.enter="keyCode">
	<!-- use costom key modifier alias. -->
	<!-- <input type="text" @keyup.f1="keyCode"> -->
</div>